* {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

.wrapper {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', Arial; }
  .wrapper header {
    background-color: #2c71e0;
    height: 50px; }
    .wrapper header .logo-text {
      width: 80%;
      margin-left: 15%;
      line-height: 50px;
      font-size: 36px;
      font-weight: bold;
      color: #eaedf2; }
  .wrapper .application .counters {
    font-size: 20px;
    line-height: 30px;
    position: relative;
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%; }
    .wrapper .application .counters .correct {
      display: block;
      position: absolute;
      left: 10%; }
    .wrapper .application .counters .total {
      display: block;
      position: absolute;
      right: 10%; }
  .wrapper .application .question-and-cat {
    text-align: center; }
    .wrapper .application .question-and-cat .question-text {
      font-size: 32px;
      line-height: 36px;
      margin-top: 3%; }
    .wrapper .application .question-and-cat .question-category {
      font-size: 20px;
      line-height: 30px; }
  .wrapper .application .description {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1.5%;
    font: 16px;
    line-height: 40px;
    background-color: rgba(186, 201, 255, 0.15); }
    .wrapper .application .description #description-text {
      margin-left: 20px; }
  .wrapper .application #skip-btn {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1.5%;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    background-color: #2c71e0; }
    .wrapper .application #skip-btn:hover {
      background-color: #4262d6;
      cursor: pointer; }
  .wrapper .application .answer-area {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1.5%;
    background-color: rgba(186, 201, 255, 0.15);
    border-radius: 5px;
    padding: 5rem 0;
    text-align: center; }
    .wrapper .application .answer-area #answers-list {
      padding-left: 5%;
      padding-right: 5%; }
      .wrapper .application .answer-area #answers-list .symbol-list-li {
        width: 40px;
        height: 40px;
        display: inline-block;
        border: 1px solid #aaa;
        box-shadow: 1px 1px 3px 0 #ccc;
        text-align: center;
        line-height: 40px;
        font-weight: bold;
        color: gray;
        margin: 3px; }
        .wrapper .application .answer-area #answers-list .symbol-list-li:hover {
          cursor: pointer; }
      .wrapper .application .answer-area #answers-list .symbol-space {
        margin-top: -.92rem;
        margin-bottom: -.92rem; }
  .wrapper .application .symbols-area {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1.5%;
    background-color: rgba(186, 201, 255, 0.15);
    border-radius: 5px;
    border: 2px solid #eee;
    padding: 1rem 0;
    text-align: center; }
    .wrapper .application .symbols-area #symbols-list {
      padding-left: 5%;
      padding-right: 5%; }
      .wrapper .application .symbols-area #symbols-list .symbol-list-li {
        width: 40px;
        height: 40px;
        display: inline-block;
        border: 1px solid #aaa;
        box-shadow: 1px 1px 3px 0 #ccc;
        text-align: center;
        line-height: 40px;
        font-weight: bold;
        color: gray;
        margin: 3px; }
        .wrapper .application .symbols-area #symbols-list .symbol-list-li:hover {
          cursor: pointer; }
      .wrapper .application .symbols-area #symbols-list .symbol-space {
        margin-top: -.92rem;
        margin-bottom: -.92rem; }

.wait-answer-area {
  border: 2px solid #eee; }

.win-answer-area {
  border: 1px solid #48c136; }

.lose-answer-area {
  border: 1px solid #d10e11; }

.correct-answer {
  text-align: center;
  margin-top: 10px;
  color: #48c136; }

.incorrect-answer {
  text-align: center;
  margin-top: 10px;
  color: #d10e11; }

#win-btn {
  height: 35px;
  text-align: center;
  line-height: 35px;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 1.5%;
  background-color: #48c136; }
  #win-btn:hover {
    cursor: pointer;
    background-color: #189b28; }
