//Variable
$blue: #2c71e0;
$dark-blue: #4262d6;
$light-crem-blue: rgba(186, 201, 255, 0.15);
$crem-white: #eaedf2;
$light-green: #48c136;
$dark-green: #189b28;
$red: #d10e11;
$sub-font: 20px;
//Mixins
@mixin text-font {
    font-size: $sub-font;
    line-height: $sub-font*1.5;
}
@mixin block-absolute {
    display: block;
    position: absolute;
}
@mixin center-area {
    width: 70%;
    margin: {
        left: 15%;
        right: 15%;
        top: 1.5%;
    }
}
@mixin in-center-area {
    background-color: $light-crem-blue;
    border-radius: 5px;
}
@mixin symbols {
    width: 40px;
    height: 40px;
    display: inline-block;
    border: 1px solid #aaa;
    box-shadow: 1px 1px 3px 0 #ccc;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    color: gray;
    margin: 3px;

    &:hover {
        cursor: pointer;
    }
}
@mixin button {
  height: 35px;
  text-align: center;
  line-height: 35px;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
}
@mixin user-result {
  text-align: center;

  margin : {
    top: 10px;
  }
}
//

* {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.wrapper {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', Arial;

    header {
        background-color: $blue;
        height: 50px;

        .logo-text {
            width: 80%;
            margin-left: 15%;
            line-height: 50px;
            font-size: 36px;
            font-weight: bold;
            color: $crem-white;
        }
    }

    .application {
        .counters {
            @include text-font;
            position: relative;
            display: inline-block;
            width: 80%;
            margin: {
                left: 10%;
                right: 10%;
            }

            .correct {
                @include block-absolute;
                left: 10%;
            }

            .total {
                @include block-absolute;
                right: 10%;
            }
        }

        .question-and-cat {
            text-align: center;

            .question-text {
                font-size: 32px;
                line-height: 36px;
                margin-top: 3%;
            }

            .question-category {
                @include text-font;
            }
        }

        .description {
            @include center-area;
            font: 16px;
            line-height: 40px;
            background-color: $light-crem-blue;

            #description-text {
                margin-left: 20px;
            }
        }

        #skip-btn {
            @include center-area;
            @include button;

            background-color: $blue;

            &:hover {
                background-color: $dark-blue;
                cursor: pointer;
            }
        }

        .answer-area {
            @include center-area;
            @include in-center-area;

            padding: 5rem 0;
            text-align: center;

            // .wait-answer-area {
              // border: 2px solid #eee;
            // }

            #answers-list {
                padding: {
                    left: 5%;
                    right: 5%;
                }

                .symbol-list-li {
                    @include symbols;
                }

                .symbol-space {
                    margin: {
                        top: -.92rem;
                        bottom: -.92rem;
                    }
                }
            }
        }

        .symbols-area {
            @include center-area;
            @include in-center-area;

            border: 2px solid #eee;
            padding: 1rem 0;
            text-align: center;

            #symbols-list {
                padding: {
                    left: 5%;
                    right: 5%;
                }

                .symbol-list-li {
                    @include symbols;
                }

                .symbol-space {
                    margin: {
                        top: -.92rem;
                        bottom: -.92rem;
                    }
                }
            }
        }
    }
}
.wait-answer-area {
  border: 2px solid #eee;
}

.win-answer-area {
  border: 1px solid $light-green;
}

.lose-answer-area {
  border: 1px solid $red;
}

.correct-answer {
  @include user-result;
  color: $light-green;
}

.incorrect-answer {
  @include user-result;
  color: $red;
}

#win-btn{
  @include button;
  @include center-area;
  background-color: $light-green;

  &:hover {
    cursor: pointer;
    background-color: $dark-green;
  }
}
